nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  gap: 45px;
}

nav a {
 text-decoration: none;
 transition: all 0.3s;
}

nav a:hover {
  color: aquamarine;
}

nav a svg {
  margin-right: 5px;
}